* {
  box-sizing: border-box;
}
button {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: black;
}

.containner {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-image: url(/img/background.png);
  width: 1000px;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
}

.top_containner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  height: 50%;
}
.btn {
  background-color: #efd4a2;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  border: 4px solid black;
  margin: 10px 0;
}

.time_box {
  width: 120px;
  background-color: white;
  border: 4px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding: 3px;
  font-weight: bolder;
}

.counter_box {
  margin-top: 10px;
  width: 60px;
  height: 60px;
  background-color: #ea8767;
  border: 4px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: bolder;
}

.main_containner {
  height: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
}

.modal_containner {
  z-index: 2;
  position: fixed;
  border-radius: 10px;
  background-color: black;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
}

.bug_containner {
  width: 100%;
  height: 100%;
  position: relative;
}
.result_text {
  color: white;
  font-size: 36px;
}

.bug_img {
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.carrot_img {
  position: absolute;
  cursor: pointer;
}
